<div class="card text-white bg-dark mb-3 post-card" style="width: 18rem;">
  <a href="post/{{id}}" class="post-link text-light">
    <div class="card-header">{{title}}</div>
    <div class="card-body"> 
      <p class="post-meta">
        Posted by {{user.username}} on {{format_date created_at}}
        |
        {{comments.length}} {{format_plural "comment" comments.length}}
      </p>
    </div>
  </a>
</div>

